

body {
    border-top: 0 solid transparent;
    &.nav-up {
        border-top: $header-height solid transparent;
    }
}

header#hero {
	position: relative;
	top: 0;
	left: 0;
	//width: 100%;
    margin-left: $nav-left-width;
    height: $header-height;
	background-image: url(../images/hero/psGroupPhoto.jpg);
    background-size: cover;
    background-position: 50% 50%;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
    -webkit-transform: translate3d(0,0,0);
	z-index: 1000;
	//@include box-shadow (0 0 10px rgba(0,0,0,0.3));
	//@include transition(all, .15s, 0s, ease-in-out);
    @include grid-lg {
        margin-left: 0;
        @include transition(transform, .3s, 0s, ease-in-out);
        &.active-nav {
            @include transform(translate3d($nav-left-width, 0, 0));
        }
    }
    &.april {
        background-image: url(../images/ad/01.jpg);
    }
    &.march {
        background-image: url(../images/ad/02.jpg);
    }
    &.february {
        background-image: url(../images/ad/03.jpg);
    }
    &.january {
        background-image: url(../images/ad/04.jpg);
    }
    &.december {
        background-image: url(../images/ad/05.jpg);
    }
    &.november {
        background-image: url(../images/ad/06.jpg);
    }
    &.october {
        background-image: url(../images/ad/07.jpg);
    }
    &.september {
        background-image: url(../images/ad/08.jpg);
    }
    &.august {
        background-image: url(../images/ad/09.jpg);
    }
    &.july {
        background-image: url(../images/ad/10.jpg);
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba($c-primary-red, .5);
        background: rgba(black, .2);
    }
    #logo {
        position: absolute;
        top: 1em;
        right: 1em;
        z-index: 10;
        opacity: .5;
        width: 26%;
        height: auto;
        @include grid-md {
            width: 50%;
        }
        @include grid-sm {
            width: 60%;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
	&.nav-up {
        position: fixed;
		top: -$header-height+$header;
		//@include transition(all, .3s, 0s, ease-in-out);
	}
}


#menu-icon {
    display: none;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    cursor: pointer;
    //background: rgba(245,245,245,.8);
    //background: rgba(#222, .8);
    -webkit-transform: translate3d(0, 0, 0);
    //border: 20px solid transparent;
    //padding: 10px;
    @include grid-lg {
        display: block;
        @include transition(transform, .3s, 0s, ease-in-out);
        &.active-nav {
            @include transform(translate3d($nav-left-width, 0, 0));
        }
    }
    &:hover {
        //background: rgba(255,255,255,1);
    }
    span {
        width: 40px;
        height: 3px;
        top: 0;
        left: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: auto;
        background: black;
        background: $c-primary;
        z-index: 10;
        opacity: 1;
        @include transition(opacity, .3s, 0s, ease-in-out);
    }
    &::after {
        content: '';
        width: 40px;
        height: 3px;
        background: black;
        background: $c-primary;
        top: 28px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        @include transform (rotate(0deg));
        @include transition(all, .3s, 0s, ease-in-out);
    }
    &::before {
        content: '';
        width: 40px;
        height: 3px;
        background: black;
        background: $c-primary;
        bottom:  28px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        @include transform (rotate(0deg));
        @include transition(all, .3s, 0s, ease-in-out);
    }
    &.active-nav {
        span {
            opacity: 0;
            @include transition(opacity, .3s, 0s, ease-in-out);
        }
        &::after {
            top: 38px;
            //background: $c-primary;
            width: 50px;
            height: 3px;
            @include transform (rotate(-45deg));
            @include transition(all, .3s, 0s, ease-in-out);
        }
        &::before {
            bottom: 38px;
            height: 3px;
            width: 50px;
            //background: $c-primary;
            @include transform (rotate(45deg));
            @include transition(all, .3s, 0s, ease-in-out);
        }
    }
}




