//.navigation-test {
//$section-padding: 0;
 
* {
	margin: 0;
	padding: 0;
	color:#222;
	list-style:none;
	/* add to the links later */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
	-webkit-text-size-adjust: none;
}



body { 
	background: #f6f6f6;
	font-size: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	overflow-x: hidden;
}


.main-wrapper {
	overflow: hidden;
}


//Footer
footer {
	background: #eee;
	border-top: 1px solid #e6e6e6;
	padding: 50px;
	p {
		font-size: 16px;
		color: #999;
		text-align: right;
	}
}
	//for scroll test



.wrapper {
	position: relative;
	margin-left: $nav-left-width;
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	@include grid-lg {
		margin-left: 0;
        @include transition(transform, .3s, 0s, ease-in-out);
        &.active-nav {
            @include transform(translate3d($nav-left-width, 0, 0));
        }
	}
	section {
		padding: 30px 0;
		padding-bottom: 80px;
		padding-right: $nav-dots-width;
		padding-left: 0;
		@include grid-xl {
			padding-right: 0;
		}
		@include grid-lg {
			padding: 20px 0;
		}
		&:nth-child(2n + 1) {
			background: #eee;
			div.process {
				&::after {
					background: #eee;
				}
			}
		}
		&#welcome {
			padding-top: $nav-offset;
		}
		div.section {
			//padding: 30px 50px;
			padding-top: 30px;
			width: 100%;
			padding: 0 50px;
			max-width: 1280px;
			@include border-box;
			@include grid-sm {
				padding: 0 30px;
			}
			* {
				line-height: 1.4em;
			}
			strong {
				color: $c-primary;
			}
			h1 {
				font-size: 60px;
				font-weight: 100;
				color: $c-primary-red;
				padding-bottom: 60px;
				line-height: 1em;
				text-align: left;
			}
			h2 {
				font-size: 30px;
				font-weight: 300;
				color: $c-primary;
				padding-bottom: 20px;
				padding-top: 20px;
				line-height: 1em;
				text-align: left;
			}
			h3 {
				font-size: 24px;
				font-weight: 400;
				//color: $c-primary-red;
				padding: 10px 0 0 0;
				&.link {
					text-align: center;
					padding: 0 0 20px 0;
					a {
						color: $c-primary-red;
						background: none;
					}
				}
			}
			h3 + p {
				padding-top: 10px;
			}
			p {
				font-size: 18px;
				line-height: 1.6em;
				padding: 10px 0;
			}
			// div.link {
			// 	padding-top: 30px;
			// 	text-align: center;
			// 	a {
			// 		display: inline-block;
			// 		color: $c-primary;
			// 		background: $c-primary;
			// 		padding: 15px 30px;
			// 		margin: 0 5px;
			// 		font-size: 24px;
	  //           	@include transition(all, .15s, 0s, ease-in-out);
			// 		p {
			// 			color: white;
			// 			padding: 0;
			// 		}
			// 		&.desktop-link {background: $c-primary; display: inline-block;}
			// 		&.mobile-link {background: rgba(0,0,0,0.15); display: none;}
			// 		&:hover {
			// 			background: $c-primary;
			// 			color: white;
	  //           		@include transition(all, .15s, 0s, ease-in-out);
			// 		}
			// 	}
			// 	p.note {
			// 		color: $c-primary-red;
			// 		font-style: italic;
			// 		padding-top: 0;
			// 		padding-bottom: 30px;
			// 	}
			// }
			i, i>* {
				font-style: italic;
			}
			ul {
				margin-left: 0;
				li {
					list-style: none;
					p {
						//line-height: 1.6em;
						border-bottom: 1px dashed rgba(0,0,0,0.2);
						a {
							cursor: pointer;
							color: $c-primary-red;
							text-decoration: underline;
						}
						ul {
							li {
								list-style: disc outside;
								padding-left: 30px;
							}
						}
					}
					&:last-child {
						p {
							border: none;
						}
					}
				}
				&.decimal {
					li {
						list-style: decimal;
						//padding-left: 30px;
						margin-left: 30px;
						p {
							border-bottom: none;
						}
						ul {
							li {
								list-style: disc outside;
								margin-left: 30px;
							}
						}
					}
				}
				&.list {
					li {
						list-style: disc;
						//padding-left: 20px;
						margin-left: 30px;
						p {
							border-bottom: none;
							padding-top: 0;
						}
						ul {
							li {
								list-style: disc outside;
								margin-left: 30px;
							}
						}
					}
				}
			}
			.image-container {
				padding: 30px;
				text-align: center;
			}
			svg {
				width: 100%;
				height: 20;
				//max-height: 10%;
				// path, polygon, rect {
				// 	fill: $c-primary;
				// }
			}
			.svg-container {
				position: relative;
				width: 100%;
				height: 0px;
				padding-bottom: 40%;
				//border: 1px solid red;
				svg {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					margin: auto;
					width: 100%;
					height: 100%;
					//border: 1px solid aqua;
				}
			}
			div {
				padding: 10px 0;
			}
		}
		&.colorized, &.colorized:nth-child(2n + 1) {
			background: #ff9f9f;
			h1, h3, p, strong {
				color: #222;
			}
		}
		&#main, .main {
			padding: 180px 0 100px 0;
			background: $c-primary;
			h1,h2,h3 {
				color: white;
			}
			//display: none;
			&.main-home {
				position: absolute;
				width: 100%;
				h1,h2,h3 {
					color: white;
				}
			}
		}
		div.process {
			background: $c-primary;
			padding: 40px 0 10px 0;
			margin-top: 50px;
			position: relative;
			//width: 80%;
			//margin: 0 auto;
			h1 {
				color: white;
				text-align: center;
				font-size: 30px;
				font-weight: 300;
			}
			.gallery {
				//margin-bottom: 50px;
				.flickity-page-dots .dot {
					background: white;
				}
				img {
					border: none;
				}
			}
			&::after {
				content: '';
				display: inline-block;
				width: 30px;
				height: 30px;
				background: #f6f6f6;
				position: absolute;
				top: -15px;
				left: 0;
				right: 0;
				margin: auto;
				z-index: 10;
				@include transform (rotate(45deg));
			}
		}
	}
}


