.nav-up {
	nav#left {
		position: fixed;
		//top: $header + $nav-offset;
	}
}


nav#left {
	position: fixed;
    background: rgba(white, .5);

    background: #e6e6e6;
	top: 0;
	left: 0;
    height: 100%;
    width: auto;
    z-index: 100;
    width: $nav-left-width;
    padding: 0;
    @include border-box;
    -webkit-transform: translate3d(0,0,0);
    @include grid-lg {
        left: -$nav-left-width;
        @include transition(transform, .3s, 0s, ease-in-out);
        &.active-nav {
            @include transform(translate3d($nav-left-width, 0, 0));
        }
    }
    #logo {
        padding: 20px;
        z-index: 1;
        top: 0;
        left: 0;
        position: relative;
        z-index: 1001;
        display: block;
        text-decoration: none;
        h1 {
            height: $logo;
            line-height: $logo;
            font-size: 30px;
            font-weight: 300;
            font-family: 'Roboto Condensed', sans-serif;
            color: $c-primary-red;
        }
        h2 {
            height: $logo;
            line-height: $logo - 16;
            font-size: $logo - 22;
            margin-top: 10px;
            //margin: 10px 20px;
            font-weight: 700;
            font-family: 'Roboto Condensed', sans-serif;
            color: $c-primary;
        }
    }
    #people-strategies {
        position: absolute;
        bottom: 20px;
        right: 10px;
        text-align: right;
        svg {
            width: 50%;
            height: auto;
            path {
                fill: rgba($c-primary-red,1);
                fill: rgba(0,0,0,0.2);
            }
        }
    }
}
