$nav-left-width: 300px;
$nav-dots-width: 300px;
$header-height: 50vh;
$header: 10vh;
$logo: 40px;
$nav-offset: 5vh;

//COLORS FROM 
$c-primary: #434a54;
$c-primary-red: #ec5151;
$c-primary-red: #2388d8;